/*********Marco curricular***********/

.card-marco-curricular {
    background-color: #EEF2F1;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 30px;
    box-sizing: border-box;
}


.section-docs {
    background: #ecf1f0;
    padding: 24px 0 36px;
}

.doc-card {
    position: relative;
    display: block;
    background: #175e51;
    /* verde oscuro */
    color: #fff;
    border-radius: 18px;
    padding: 22px 22px 54px;
    margin: 14px auto;
    max-width: 223px;
    height: 223px;
    /* centra en móviles */
    text-align: left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    transition: transform .15s ease, box-shadow .2s ease;
}

.doc-card:hover {
    text-decoration: none;
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, .18);
    color: #fff;
}

.doc-icon img {
    width: 75px;
    height: auto;
}

.doc-body {
    margin-top: 12px;
}

.doc-title {
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
}

.doc-download {
    position: absolute;
    right: 16px;
    bottom: 14px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    opacity: .95;
}

/**********Asignaturas********/
.section-subjects {
    background: #fff;
    padding: 24px 0 44px;
}

.subject-card {
    display: block;
    background: #fff;
    border: 2px solid #1f6a5a;
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    box-shadow: 0 -6px 1px -2px rgba(31, 106, 90);
    padding: 24px 16px 18px;
    margin: 14px auto;
    width: 300px;
    height: 228px;
    color: #2b2b2b;
    transition: transform .15s ease, box-shadow .2s ease;
    text-decoration: none;
}

.subject-card:hover {
    text-decoration: none;
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, .14);
    color: #2b2b2b;
}

.subject-icon {
    height: 90px;
    margin: 4px 0 12px;
}

.subject-title {
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    text-decoration: none;
}


@media (max-width:990px) {

    .doc-card,
    .subject-card {
        width: 80%;
    }
}



.toolkit-section {
    padding: 28px 0 36px;
    background: #fff;
}

.toolkit-section-compartimiento {
    padding: 8px 0 6px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, .12);
    padding: 24px 0px 28px;
    margin-bottom: 30px;
}


.toolkit-card {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, .12);
    padding: 24px 26px 28px;
    position: relative;
}


.toolkit-title {
    text-align: center;
    color: #7b1932;
    font-weight: 700;
    margin: 0 0 18px;
}

.toolkit-title-compartimiento {
    text-align: center;
    color: #7b1932;
    font-weight: 700;
    margin: 0 0 18px;
}

.toolkit-img {
    max-width: 260px;
}

.toolkit-img-compartimiento{
    max-width: 150px;
}

.toolkit-text {
    color: #333;
    font-size: 14px;
    line-height: 1.45;
    text-align: justify;
    margin-top: 10px;
}


@media (max-width: 767px) {
    .toolkit-card {
        padding: 20px;
    }

    .toolkit-title {
        margin-bottom: 12px;
    }

    .toolkit-text {
        text-align: center;
    }

    .toolkit-img {
        margin-bottom: 14px;
    }

}

.container-description-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.btn-rojo {
    display: inline-block;
    background-color: #9a2242;
    color: #fff;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.btn-rojo:hover {
    background-color: #9a2242;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}


.navbar-collapse.in {
    overflow-y: hidden!important;
    overflow-x: hidden!important;
}

.navbar-fixed-top .navbar-collapse
 {
    max-height: 380px!important;
}

.modal-backdrop {
    background: transparent !important;
    pointer-events: none;
}